.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #B22222; /*  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Resume-header {
  align-items: center;
  background-color: #FFFFFF; /* #282c34 */
  display: flex;
  flex-direction: column;
  margin: 1% 8%;
}
.Resume-Content {
  margin: 1% 16%;
  align-items: center;
}
.Readme-content {
  margin: 5% 5%;
}
.Resume-Label {
  padding: 1%;
}
.Resume-Footer{
  margin: 10% 16% 5%;
  align-items: center;
}
.Resume-Divider {
  margin-left: 16%;
  margin-right: 16%;
  align-items: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
